<html>
<head>
    <title>66</title>
    <style>
        .cardWidth {
            width: 125px !important;
        }

        .centerize {
            align-items: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            justify-content: center;
        }

        body {
            background-image: url('/cards/background.jpeg');
        }
    </style>
    <script src="/scripts/room-script.js"/>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/cardsJS/dist/cards.min.css" />

    <script src="https://unpkg.com/cardsJS/dist/cards.min.js" type="text/javascript"></script>
</head>
<body>
<input type="hidden" id="roomId" value="{{ .roomId }}">

<div class="container" style="width: 100%; height: 100%;">
    <div id="upper-side" style="width: 100%; height: 75%; display: flex;">
        <div style="width: 25%; height: 100%;">
            <div id="scores" style="width: 100%; height: 10%;">
                <label>Total Score</label>
                <div id="totalScore">0</div>
                <label>Enemy Total Score</label>
                <div id="enemyTotalScore">0</div>
                <label>Turn Score</label>
                <div id="turnScore">0</div>
                <button id="gameOff" onclick="gameOff();">Game Off</button>
                <button id="gameEnd" onclick="endTurn();">End Turn</button>
            </div>

            <div id="cardsOnGround" class="centerize" style="width: 100%; height: 90%;">
            </div>
        </div>
        <div id="ground" style="width: 75%; height: 100%; margin-left: 25%; margin-top: 25%;"></div>
    </div>
    <div class="hand hhand-compact active-hand" style="width: 100%; height: 25%;">
        <div class="centerize" id="bottom-side">

        </div>
    </div>
</div>
</body>
</html>